<ion-header>
  <ion-toolbar>
    <ion-title>Regisrar Doação</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  
    <ion-list>

        <ion-item>
          <ion-label>Data</ion-label>
          <ion-datetime></ion-datetime>
        </ion-item>
      
        <ion-item>
          <ion-label>Local</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label >Estado</ion-label>
          <ion-select placeholder="[Selecione]">
            <ion-select-option>AC</ion-select-option>
            <ion-select-option>AL</ion-select-option>
            <ion-select-option>AM</ion-select-option>
            <ion-select-option>AP</ion-select-option>
            <ion-select-option>BA</ion-select-option>
            <ion-select-option>CE</ion-select-option>
            <ion-select-option>DF</ion-select-option>
            <ion-select-option>ES</ion-select-option>
            <ion-select-option>GO</ion-select-option>
            <ion-select-option>MA</ion-select-option>
            <ion-select-option>MG</ion-select-option>
            <ion-select-option>MS</ion-select-option>
            <ion-select-option>MT</ion-select-option>
            <ion-select-option>PA</ion-select-option>
            <ion-select-option>PB</ion-select-option>
            <ion-select-option>PE</ion-select-option>
            <ion-select-option>PI</ion-select-option>
            <ion-select-option>PR</ion-select-option>
            <ion-select-option>RJ</ion-select-option>
            <ion-select-option>RN</ion-select-option>
            <ion-select-option>RO</ion-select-option>
            <ion-select-option>RR</ion-select-option>
            <ion-select-option>RS</ion-select-option>
            <ion-select-option>SC</ion-select-option>
            <ion-select-option>SE</ion-select-option>
            <ion-select-option>SP</ion-select-option>
            <ion-select-option>TO</ion-select-option>
        </ion-select>
        </ion-item>
      
        <ion-item>
          <ion-label>Cidade</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
      
      </ion-list>

</ion-content>
